﻿@using ProductListApp.Views
@* @model IEnumerable<ProductListApp.Models.ProductModel>  *@
@* @model List<ProductModel> *@
@model ProductViewModel

@{    
    ViewData["Title"] = "Product List";
}

<!DOCTYPE html>
<html>
<head>
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.6.3/css/foundation.min.css">
    <style>
        .popup {
            display: none;
            position: fixed;
            z-index: 1;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            overflow: auto;
            background-color: rgba(0,0,0,0.4);
        }

        .popup-content {
            background-color: white;
            margin: 15% auto;
            padding: 20px;
            border: 1px solid #888;
            width: 80%;
        }

        .close {
            color: #aaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }

            .close:hover,
            .close:focus {
                color: black;
                text-decoration: none;
                cursor: pointer;
            }
    </style>
</head>
<body>
    <div class="text-center">
        <h1 class="display-4">Product List</h1>
        <div class="row">
            @if (@Model.Products != null)
            {
                @foreach (var product in @Model.Products)
                {
                    <div class="column">
                        <div class="card">
                            <img src="@product.ImageUrl" alt="@product.Name" style="width:100%">
                            <h1>@product.Name</h1>
                            <p class="price">$@product.Price</p>
                            <p class="wrapText">@product.Description</p>
                            <button class="button addToCartBtn" data-productid="@product.Id">View Details</button>
                        </div>
                    </div>
                }
             }
        </div>
    </div>

    <div class="popup" id="popup">
        <div class="popup-content">
            <span class="close" onclick="closePopup()">&times;</span>
            <div id="popup-details"></div>
        </div>
    </div>

    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const addToCartBtns = document.querySelectorAll(".addToCartBtn");
            const popup = document.getElementById("popup");
            const popupDetails = document.getElementById("popup-details");

            addToCartBtns.forEach(btn => {
                btn.addEventListener("click", function () {
                    const productId = this.getAttribute("data-productid");
                    fetch(`/Products/GetProductDetails/${productId}`)
                        .then(response => response.json())
                        .then(data => {
                            popupDetails.innerHTML = `
                                        <div class="row">
                                            <div class="column image-column">
                                                <img src="${data.imageUrl}" alt="Product Image" style="width: 100%">
                                            </div>
                                            <div class="column details-column">
                                                <h1>${data.name}</h1>
                                                <p class="price">$${data.price}</p>
                                                <p>${data.description}</p>
                                            </div>
                                        </div>
                                    `;
                            popup.style.display = "block";
                        });
                });
            });

            popup.addEventListener("click", function (e) {
                if (e.target === popup || e.target.classList.contains("close")) {
                    closePopup();
                }
            });
        });

        function closePopup() {
            const popup = document.getElementById("popup");
            popup.style.display = "none";
        }
    </script>
</body>
</html>